In [64]:
import pandas as pd
from IPython.display import display, HTML

In [2]:
%%time
nom = "Safran_X"
dataframe_list = pd.read_html(io = nom +'.xhtml', )#match='balance'
dataframe_list_filtered = [i for i in dataframe_list if len(i) > 2]

CPU times: user 2min 6s, sys: 1.32 s, total: 2min 7s
Wall time: 2min 11s

In [3]:
%%time
# Create a Pandas Excel writer using XlsxWriter as the engine.
writer = pd.ExcelWriter(nom + '.xlsx', engine='xlsxwriter')

for i in range (len(dataframe_list)) :
    print(i+1)
    dataframe_list[i].to_excel(writer, sheet_name=str(i+1))

# Close the Pandas Excel writer and output the Excel file.
writer.save()

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
296
297
298
299
300
301
302
303
304
305
306
307
308
309
310
311
312
313
314
315
316
317
318
319
320
321
322
323
324
325
326
327
328
329
330
331
332
333
334
335
336
337
338
339
340
341
342
343
344
345
346
347
348
349
350
351
352
353
354
355
356
357
358
359
360
361
362
363
364
365
366
367
368
369
370
371
372
373
374
375
376
377
378
379
380
381
382
383
384
385
386
387
388
389
390
391
392
393
394
395
396
397
398
399
400
401
402
403
404
405
406
407
408
409
410
411
412
413
414
415
416
417
418
419
420
421
422
423
424
425
426
427
428
429
430
431
432
433
434
435
436
437
438
439
440
441
442
443
444
445
446
447
448
449
450
451
452
453
454
455
456
457
458
459
460
461
462
463
464
465
466
467
468
469
470
471
472
473
474
475
476
477
478
479
480
481
482
483
484
485
486
487
488
489
490
491
492
493
494
495
496
497
498
499
500
501
502
503
504
505
506
507
508
509
510
511
512
513
514
515
516
517
518
519
520
521
522
523
524
525
526
527
528
529
530
531
532
533
534
535
536
537
538
539
540
541
542
543
544
545
546
547
548
549
550
551
552
553
554
555
556
557
558
559
560
561
562
563
564
565
566
567
568
569
570
571
572
573
574
575
576
577
578
579
580
581
582
583
584
585
586
587
588
589
590
591
592
593
594
595
596
597
598
599
600
601
602
603
604
605
606
607
608
609
610
611
612
613
614
615
616
617
618
619
620
621
622
623
624
625
626
627
628
629
630
631
632
633
634
635
636
637
638
639
640
641
CPU times: user 2.19 s, sys: 479 ms, total: 2.67 s
Wall time: 2.95 s

In [34]:
dataframe_list[0].describe()

         0    2
count  0.0  0.0
mean   NaN  NaN
std    NaN  NaN
min    NaN  NaN
25%    NaN  NaN
50%    NaN  NaN
75%    NaN  NaN
max    NaN  NaN

In [54]:
dataframe_list_filtered = [i for i in dataframe_list if len(i) > 11]
dataframe_list_filtered = [i for i in dataframe_list_filtered if len(i.columns) > 4]

In [55]:
print(len(dataframe_list_filtered))
print(len(dataframe_list))

45
641

In [36]:
file_name = 'gleif-19ar.signed4.xhtml'
my_list = file_name.split(".")[0 : -1] 
file_name = '.'.join(my_list)

In [23]:
dataframe_list[0]

    0                        1   2
0 NaN          RAPPORT INTÉGRÉ NaN
1 NaN  safran en un clin d'œil NaN

In [26]:
dataframe_list[1]

    0          1   2
0 NaN  éditorial NaN

In [66]:
for i in range(len(dataframe_list)) : 
    display(HTML(dataframe_list[i].to_html()))
    print('')

In [43]:
dataframe_list_filtered

[         0       1                                                  2
 0   1905.0  1905.0  Louis et Laurent Seguin fondent la Société des...
 1      NaN     NaN  Louis et Laurent Seguin fondent la Société des...
 2   1912.0  1912.0  Louis Verdet crée la Société des moteurs Le Rh...
 3      NaN     NaN  Louis Verdet crée la Société des moteurs Le Rh...
 4   1924.0  1924.0  Marcel Môme crée la Société d’applications gén...
 5      NaN     NaN  Marcel Môme crée la Société d’applications gén...
 6   1945.0  1945.0  À l’issue de la seconde guerre mondiale, la so...
 7      NaN     NaN  À l’issue de la seconde guerre mondiale, la so...
 8   1968.0  1968.0  Hispano-Suiza, spécialiste de la transmission ...
 9      NaN     NaN  Hispano-Suiza, spécialiste de la transmission ...
 10  1974.0  1974.0  Snecma devient motoriste d’avions civils en si...
 11     NaN     NaN  Snecma devient motoriste d’avions civils en si...
 12  1993.0  1993.0  Sagem fait l’acquisition de la société Morpho,...
 13     NaN     NaN  Sagem fait l’acquisition de la société Morpho,...
 14  1997.0  1997.0  Snecma intègre la Société européenne de propul...
 15     NaN     NaN  Snecma intègre la Société européenne de propul...
 16  2000.0  2000.0  Labinal, spécialisé dans les câblages aéronaut...
 17     NaN     NaN  Labinal, spécialisé dans les câblages aéronaut...
 18  2002.0  2002.0  La société Hurel-Dubois fusionne ses activités...
 19     NaN     NaN  La société Hurel-Dubois fusionne ses activités...
 20  2005.0  2005.0  Safran naît de la fusion de Snecma et Sagem. L...
 21     NaN     NaN  Safran naît de la fusion de Snecma et Sagem. L...
 22  2008.0  2008.0  Safran étend son partenariat avec GE dans la p...
 23     NaN     NaN  Safran étend son partenariat avec GE dans la p...
 24  2009.0  2009.0  Safran fait l’acquisition de 81 % des activité...
 25     NaN     NaN  Safran fait l’acquisition de 81 % des activité...
 26  2010.0  2010.0  Labinal finalise l’achat de Harvard Custom Man...
 27     NaN     NaN  Labinal finalise l’achat de Harvard Custom Man...
 28  2011.0  2011.0  Safran acquiert l’entreprise américaine L-1 Id...
 29     NaN     NaN  Safran acquiert l’entreprise américaine L-1 Id...
 30  2012.0  2012.0  Dans le domaine de l’optronique, Safran crée a...
 31     NaN     NaN  Dans le domaine de l’optronique, Safran crée a...
 32  2013.0  2013.0  Safran fait l’acquisition des activités de sys...
 33     NaN     NaN  Safran fait l’acquisition des activités de sys...
 34  2014.0  2014.0  Safran crée le pôle industriel Labinal Power S...
 35     NaN     NaN  Safran crée le pôle industriel Labinal Power S...
 36  2015.0  2015.0  Hispano-Suiza et Rolls-Royce créent Aero Gearb...
 37     NaN     NaN  Hispano-Suiza et Rolls-Royce créent Aero Gearb...
 38  2016.0  2016.0  Safran rassemble toutes ses sociétés sous un s...
 39     NaN     NaN  Safran rassemble toutes ses sociétés sous un s...
 40  2017.0  2017.0  Safran et Zodiac Aerospace concluent un accord...
 41     NaN     NaN  Safran et Zodiac Aerospace concluent un accord...
 42  2018.0  2018.0  Safran prend le contrôle de Zodiac Aerospace e...
 43     NaN     NaN  Safran prend le contrôle de Zodiac Aerospace e...
 44  2019.0  2019.0  Safran modifie le pilotage opérationnel de ses...
 45     NaN     NaN  Safran modifie le pilotage opérationnel de ses...
 46  2020.0  2020.0  Dans un contexte de crise prolongée du secteur...
 47     NaN     NaN  Dans un contexte de crise prolongée du secteur...,
                                                     0  \
 0                               (en millions d’euros)
 1                                          R&D totale
 2   Part des dépenses qui font l’objet d’un financ...
 3                                    RTD autofinancée
 4                             % du chiffre d’affaires
 5                        Crédit impôt recherche (CIR)
 6                          RTD autofinancée après CIR
 7                               Dépenses capitalisées
 8             Amortissements et dépréciations R&D (1)
 9                Impact résultat opérationnel courant
 10                            % du chiffre d’affaires
 11                     (1)Hors éléments non courants.

                                  1                               2
 0                             2019                            2020
 1                          (1 725)                         (1 213)
 2                              388                             349
 3                          (1 337)                           (864)
 4                            5,4 %                           5,2 %
 5                              166                             149
 6                          (1 171)                           (715)
 7                              325                             279
 8                            (270)                           (320)
 9                          (1 116)                           (756)
 10                           4,5 %                           4,6 %
 11  (1)Hors éléments non courants.  (1)Hors éléments non courants.  ,
                                                     0  \
 0                        Implantations au 31 décembre
 1                        Implantations au 31 décembre
 2                             Safran Aircraft Engines
 3                           Safran Helicopter Engines
 4                                     Safran Ceramics
 5                                Safran Aero Boosters
 6                              Safran Landing Systems
 7                           Safran Electrical & Power
 8                          Safran Passenger Solutions
 9                         Safran Transmission Systems
 10                                    Safran Nacelles
 11                       Safran Electronics & Defense
 12                                 Safran Aerosystems
 13                                       Safran Cabin
 14                                       Safran Seats
 15                                             Safran
 16                                             Autres
 17                                              Total
 18  (1)Un établissement est une entité juridique q...

                                                     1  \
 0   Principales activités réalisées sur les établi...
 1                                      R&D/Production
 2                                                  14
 3                                                   7
 4                                                   5
 5                                                   2
 6                                                  10
 7                                                  32
 8                                                   9
 9                                                   2
 10                                                  6
 11                                                 36
 12                                                 18
 13                                                 24
 14                                                 10
 15                                                  2
 16                                                  1
 17                                                178
 18  (1)Un établissement est une entité juridique q...

                                                     2  \
 0   Principales activités réalisées sur les établi...
 1                             Services et maintenance
 2                                                  13
 3                                                  10
 4                                                   -
 5                                                   -
 6                                                  11
 7                                                  10
 8                                                   2
 9                                                   -
 10                                                  2
 11                                                  2
 12                                                 10
 13                                                  2
 14                                                  2
 15                                                  -
 16                                                  -
 17                                                 64
 18  (1)Un établissement est une entité juridique q...

                                                     3  \
 0   Principales activités réalisées sur les établi...
 1                     Commerciales et administratives
 2                                                   4
 3                                                   -
 4                                                   1
 5                                                   -
 6                                                   1
 7                                                   3
 8                                                   3
 9                                                   -
 10                                                  -
 11                                                  7
 12                                                  1
 13                                                  2
 14                                                  1
 15                                                  7
 16                                                  4
 17                                                 34
 18  (1)Un établissement est une entité juridique q...

                                                     4  \
 0   Principales activités réalisées sur les établi...
 1                            Total établissements (1)
 2                                                  31
 3                                                  17
 4                                                   6
 5                                                   2
 6                                                  22
 7                                                  45
 8                                                  14
 9                                                   2
 10                                                  8
 11                                                 45
 12                                                 29
 13                                                 28
 14                                                 13
 15                                                  9
 16                                                  5
 17                                                276
 18  (1)Un établissement est une entité juridique q...

                                                     5  \
 0                                   Type de détention
 1                                    Propriétaire (2)
 2                                                  12
 3                                                   7
 4                                                   1
 5                                                   1
 6                                                  13
 7                                                   9
 8                                                   2
 9                                                   2
 10                                                  6
 11                                                 16
 12                                                  9
 13                                                  4
 14                                                  2
 15                                                  4
 16                                                  -
 17                                                 88
 18  (1)Un établissement est une entité juridique q...

                                                     6
 0                                   Type de détention
 1                                           Locataire
 2                                                  19
 3                                                  10
 4                                                   5
 5                                                   1
 6                                                   9
 7                                                  36
 8                                                  12
 9                                                   -
 10                                                  2
 11                                                 29
 12                                                 20
 13                                                 24
 14                                                 11
 15                                                  5
 16                                                  5
 17                                                188
 18  (1)Un établissement est une entité juridique q...  ,
                                                     0  \
 0                               (en millions d’euros)
 1                               (en millions d’euros)
 2                                  Chiffre d’affaires
 3   Autres produits et charges opérationnels courants
 4   Quote-part dans le résultat net des co-entrepr...
 5                       Résultat opérationnel courant
 6   Autres produits et charges opérationnels non c...
 7                               Résultat opérationnel
 8                              Coût de la dette nette
 9                    Résultat financier lié au change
 10              Autres produits et charges financiers
 11                                 Résultat financier
 12                          Produit (charge) d’impôts
 13                                       Résultat net
 14     Résultat attribuable aux intérêts minoritaires
 15                        Résultat net part du groupe

                                  1                                         2  \
 0   Données consolidées 31.12.2020                      Couverture de change
 1   Données consolidées 31.12.2020  Revalorisation du chiffre d’affaires (1)
 2                           16 631                                     (133)
 3                         (15 286)                                       (1)
 4                               48                                         -
 5                            1 393                                     (134)
 6                            (466)                                         -
 7                              927                                     (134)
 8                             (58)                                         -
 9                            (257)                                       134
 10                            (42)                                         -
 11                           (357)                                       134
 12                           (184)                                         -
 13                             386                                         -
 14                            (34)                                         -
 15                             352                                         -

                                              3  \
 0                         Couverture de change
 1   Différés des résultats sur couvertures (2)
 2                                            -
 3                                            5
 4                                            -
 5                                            5
 6                                            -
 7                                            5
 8                                            -
 9                                          216
 10                                           -
 11                                         216
 12                                        (58)
 13                                         163
 14                                           -
 15                                         163

                                                     4  \
 0                         Regroupements d’entreprises
 1   Amortissements incorporels fusion Sagem/Snecma...
 2                                                   -
 3                                                  46
 4                                                   -
 5                                                  46
 6                                                   -
 7                                                  46
 8                                                   -
 9                                                   -
 10                                                  -
 11                                                  -
 12                                               (14)
 13                                                 32
 14                                                (1)
 15                                                 31

                                                     5  \
 0                         Regroupements d’entreprises
 1   Effets des autres regroupements d’entreprises (4)
 2                                                   -
 3                                                 340
 4                                                  36
 5                                                 376
 6                                                   -
 7                                                 376
 8                                                   -
 9                                                   -
 10                                                  -
 11                                                  -
 12                                               (78)
 13                                                298
 14                                                  -
 15                                                298

                               6
 0   Données ajustées 31.12.2020
 1   Données ajustées 31.12.2020
 2                        16 498
 3                      (14 896)
 4                            84
 5                         1 686
 6                         (466)
 7                         1 220
 8                          (58)
 9                            93
 10                         (42)
 11                          (7)
 12                        (334)
 13                          879
 14                         (35)
 15                          844  ,
                                                     0  \
 0                               (en millions d’euros)
 1                               (en millions d’euros)
 2                                  Chiffre d’affaires
 3   Autres produits et charges opérationnels courants
 4   Quote-part dans le résultat net des co-entrepr...
 5                       Résultat opérationnel courant
 6   Autres produits et charges opérationnels non c...
 7                               Résultat opérationnel
 8                              Coût de la dette nette
 9                    Résultat financier lié au change
 10              Autres produits et charges financiers
 11                                 Résultat financier
 12                          Produit (charge) d’impôts
 13                                       Résultat net
 14     Résultat attribuable aux intérêts minoritaires
 15                        Résultat net part du Groupe

                                  1                                         2  \
 0   Données consolidées 31.12.2019                      Couverture de change
 1   Données consolidées 31.12.2019  Revalorisation du chiffre d’affaires (1)
 2                           25 098                                     (458)
 3                         (21 438)                                         9
 4                              164                                         -
 5                            3 824                                     (449)
 6                               13                                         -
 7                            3 837                                     (449)